.tituloDash {
    font-family: var(--fonte-titulo);
    font-weight: 900;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 150px !important;
    text-align: center;
}
.subtituloDash {
    font-family: var(--fonte-titulo);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

@media only screen and (max-width: 959px) {
    .tituloDash {
        font-family: var(--fonte-titulo);
        font-weight: 900;
        font-size: 20px;
        margin: 5px auto;
        margin-top: 150px !important;
        text-align: center;
    }
    .subtituloDash {
        font-family: var(--fonte-titulo);
        margin: 10px;
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
    }
}