.cadastroEmpresa {
    max-width: 500px;
    margin: 0px auto;
    padding: 1px 20px;
    background: var(--cor-fundo);
    border-radius: var(--border-px);
    display: block;
}

label {
    white-space: nowrap;
}

fieldset {
    display: inline-block;
}

.tituloCadastro {
    margin: 0 0 30px 0;
    text-align: center;
    font-family: var(--fonte-titulo);
}

.cadastroInput,
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 13px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 20px;
    font-family: var(--fonte-texto);
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
    font-family: var(--fonte-texto);
}

.btnCadastro {
    padding: 5px 30px 5px 30px;
    color: #fff;
    background-color: var(--cor-azul-marinho);
    font-size: 17px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    border-radius: 5px;
    align-items: center;
    width: 30%;
    border: 1px solid var(--cor-turquesa);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    font-family: var(--fonte-titulo);
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.number {
    background-color: var(--cor-azul-marinho);
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {
    .formCadastro {
        max-width: 480px;
    }
}

/* cadastro.css */
.formCadastro {
    margin-top: 110px;
}

/* Estilo para os rótulos (labels) */
.formCadastro label {
    width: 100px; /* Largura fixa para os rótulos */
    font-weight: bold;
}

/* Estilo para os campos de entrada (inputs) */
.formCadastro input {
    flex: 1; /* Ocupa o espaço restante na linha */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para a legenda (legend) */
.formCadastro legend {
    font-weight: bold;
    margin-bottom: 10px;
}
