.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(60deg, #055761 0%, rgba(0, 172, 193, 1) 100%);
	color: #fff;
	z-index: 1000;
	height: 100px;
	overflow: hidden;
	transition: height 0.3s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-family: "Lato", sans-serif;
	font-size: 16px; /* Tamanho da fonte ajustado */
	white-space: nowrap; /* Evita que a linha quebre */
}

.brand {
	font-size: 1.7rem;
	font-weight: bold;
}

.navLinks {
	list-style: none;
	display: flex;
}

.navLinks li {
	margin-right: 3rem;
	font-size: 1.3rem;
	font-weight: 600;
}

.navLinks li:hover {
	color: black;
	cursor: pointer;
	text-decoration: none;
	color: white;
	-webkit-animation: text-shadow-drop-center 0.6s both;
	animation: text-shadow-drop-center 0.6s both;
}

.navLinks a {
	text-decoration: none;
	color: white;
}

@-webkit-keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
}
@keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(60deg, #055761 0%, rgba(0, 172, 193, 1) 100%);
	color: #fff;
	z-index: 1000;
	height: 100px;
	overflow: hidden;
	transition: height 0.3s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-family: "Lato", sans-serif;
	font-size: 16px; /* Tamanho da fonte ajustado */
	white-space: nowrap; /* Evita que a linha quebre */
}

.brand {
	font-size: 1.7rem;
	font-weight: bold;
}

.navLinks {
	list-style: none;
	display: flex;
}

.navLinks li {
	margin-right: 3rem;
	font-size: 1.3rem;
	font-weight: 600;
}

.navLinks li:hover {
	color: black;
	cursor: pointer;

	-webkit-animation: text-shadow-drop-center 0.6s both;
	animation: text-shadow-drop-center 0.6s both;
}

.navLinks a {
	text-decoration: none;
	color: white;
}

@-webkit-keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
}
@keyframes text-shadow-drop-center {
	0% {
		text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
	}
}

@media only screen and (max-width: 959px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		color: #fff;
		z-index: 1000;
		height: 65px;
		transition: height 0.3s;
		padding: 0 1rem;
		font-size: 2px;
		white-space: nowrap;
		text-align: center;
	}

	.brand {
		font-size: 1rem;
		font-weight: bold;
	}

	.navLinks li {
		margin-top: auto;
		margin-right: 0.5rem;
		font-size: 1rem;
		display: inline-block;
		align-items: center;
		text-align: center;
		vertical-align: middle;
	}
}
